name: Build & Deploy Vite React App to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4


      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18


      - name: Install dependencies
        run: npm install


      - name: Build Vite project
        run: npm run build


      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1 


      - name: Clear S3 bucket
        run: aws s3 rm s3://tele-medicineapp --recursive


      - name: Upload new build
        run: aws s3 sync ./dist s3://tele-medicineapp --acl public-read
